@model IEnumerable<ASPSTUDENT4.Models.LopHoc>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<h1>Danh sách các lớp học</h1>

<p>
    <a asp-action="Create">Tạo mới lớp học</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLop">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaLop">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLop">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
