@model ASPSTUDENT4.Models.ChiTietSinhVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChiTietSinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTinChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTinChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemGPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.MaNguoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LopHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LopHoc.MaLop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSinhVien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
